@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  background: #E5E5E5;;
}

.Left{
  justify-content: left;
}

.Right{
  justify-content: center;
}

.EsqueciSenha {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;

  color: #52575C;
}

.submit {
  position: absolute;
  width: 385px;
  height: 50px;
  left: 959px;
  top: 519px;

  background: #1F58E7;
  border-radius: 100px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

#healthCare{
  width: 286px;
  height: 70px;

  /* H1 - bold 56 (70, 0.4px) */

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;

  /* Primary / Lightest */

  color: #EBF0FF;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.perfil {
  width: 20%;
  height: 20%;
  border-radius: 400px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 5%;
}

.Feed{
  margin-left: 8% !important;
}

#Contatos{
 justify-content: left;
  margin-left: 5% !important;
  margin-right: 5% !important;
 line-height: 25px;
}

#Contatos p {
  margin-bottom: 5%;
}

#Contatos img {
  width: 100%;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
